.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  width: 100%;
  height: 100vh;
}

.book-content {
  width: 90vw;
  height: 60vh;
  border: solid 6px #fff;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.left-content,
.right-content {
  position: relative;
  width: 50%;
  height: 100%;
}

.left-content {
  float: left;
  overflow: hidden;
}

.left-content img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
}

.right-content {
  float: right;
  padding: 2rem 2rem;
  box-sizing: border-box;
  overflow: auto;
}

.mostly-customized-scrollbar {
  display: block;
  overflow: auto;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  height: 53px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  background-image: url('./arrow-back.svg');
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.right-content .name,
.right-content .subname {
  font-weight: bold;
}

.right-content .name {
  font-size: 1.4rem;
  line-height: 2rem;
}

.right-content .author {
  font-size: 0.8rem;
  line-height: 1rem;
}

.right-content .description p {
  font-size: 0.9rem;
  text-align: justify;
  hyphens: auto;
  overflow: hidden;
}

.books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
}

