.search-bar input {
  padding: 15px 10px;
  font-size: 1.25em;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}

.search-results {
  padding: 80px 10px 20px;
}

.grid {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

