.book {
    margin: 0 10px;
    border-radius: 50%;
    width: 140px;
}

.authors {
    color: #999;
}

.book-title,
.authors {
    font-size: 0.8em;
}


.book-title {
    margin-top: 10px;
}


.top {
    height: 200px;
    position: relative;
    align-items: flex-end;
    margin-bottom: 10px;
    display: flex;
}

.shelf-changer select {
    height: 100%;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}

.shelf-changer {
    bottom: -10px;
    right: 0;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-size: 20px;
    background: #60ac5d url('./arrow-drop-down.svg') no-repeat center;
}

